@import url('https://fonts.googleapis.com/css?family=Montserrat');

.label {
  color: #000;

  /* Light body text */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
